a.cta_button {
  -moz-box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
  vertical-align: middle;
}
.hs-breadcrumb-menu {
  list-style-type: none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.hs-breadcrumb-menu-item {
  float: left;
  padding: 10px 0px 10px 10px;
}
.hs-breadcrumb-menu-divider:before {
  content: "›";
  padding-left: 10px;
}
.hs-featured-image-link {
  border: 0;
}
.hs-featured-image {
  float: right;
  margin: 0 0 20px 20px;
  max-width: 50%;
}
@media (max-width: 568px) {
  .hs-featured-image {
    float: none;
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}
.hs-screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

.fn-date-picker.pika-single {
    z-index: 9999;
    display: block;
    position: relative;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    *zoom: 1;
  }
  .fn-date-picker.pika-single.is-hidden {
    display: none;
  }
  .fn-date-picker.pika-single.is-bound {
    position: absolute;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
  }
  .fn-date-picker.pika-single:after,
  .fn-date-picker.pika-single:before {
    content: " ";
    display: table;
  }
  .fn-date-picker.pika-single:after {
    clear: both;
  }
  .fn-date-picker .pika-lendar {
    float: left;
    width: 240px;
    margin: 8px;
  }
  .fn-date-picker .pika-title {
    position: relative;
    text-align: center;
  }
  .fn-date-picker .pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0;
  }
  .fn-date-picker .pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    background-color: #fff;
  }
  .fn-date-picker .pika-next,
  .fn-date-picker .pika-prev {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    text-indent: 20px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    opacity: 0.5;
    *position: absolute;
    *top: 0;
  }
  .fn-date-picker .pika-next:hover,
  .fn-date-picker .pika-prev:hover {
    opacity: 1;
  }
  .fn-date-picker .pika-next.is-disabled,
  .fn-date-picker .pika-prev.is-disabled {
    cursor: default;
    opacity: 0.2;
  }
  .fn-date-picker .is-rtl .pika-next,
  .fn-date-picker .pika-prev {
    float: left;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==");
    *left: 0;
  }
  .fn-date-picker .is-rtl .pika-prev,
  .fn-date-picker .pika-next {
    float: right;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=");
    *right: 0;
  }
  .fn-date-picker .pika-select {
    display: inline-block;
    *display: inline;
  }
  .fn-date-picker .pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
  }
  .fn-date-picker .pika-table td,
  .fn-date-picker .pika-table th {
    width: 14.285714285714286%;
    padding: 0;
  }
  .fn-date-picker .pika-table th {
    color: #999;
    font-size: 12px;
    line-height: 25px;
    font-weight: 700;
    text-align: center;
  }
  .fn-date-picker .pika-table abbr {
    border-bottom: none;
    cursor: help;
  }
  .fn-date-picker .pika-button {
    cursor: pointer;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    color: #666;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    background: #f5f5f5;
  }
  .fn-date-picker .pika-button:hover {
    color: #fff !important;
    background: #ff8000 !important;
    box-shadow: none !important;
    border-radius: 3px !important;
  }
  .fn-date-picker .is-today .pika-button {
    color: #3af;
    font-weight: 700;
  }
  .fn-date-picker .is-selected .pika-button {
    color: #fff;
    font-weight: 700;
    background: #3af;
    box-shadow: inset 0 1px 3px #178fe5;
    border-radius: 3px;
  }
  .fn-date-picker .is-disabled .pika-button {
    pointer-events: none;
    cursor: default;
    color: #999;
    opacity: 0.3;
  }
  .fn-date-picker .pika-week {
    font-size: 11px;
    color: #999;
  }
  .hs-form-2407c9d0-8ae3-465a-bd3e-e24b111401a5_a063e641-2cdc-428d-be01-ea5dd23f3580
    .inputs-list.inline-list
    li {
    vertical-align: top;
    display: inline-block;
    word-wrap: break-word;
    padding-right: 16px;
  }
  .hs-form-2407c9d0-8ae3-465a-bd3e-e24b111401a5_a063e641-2cdc-428d-be01-ea5dd23f3580
    .inputs-list.inline-list
    li:after {
    clear: both;
  }
  .hs-form-2407c9d0-8ae3-465a-bd3e-e24b111401a5_a063e641-2cdc-428d-be01-ea5dd23f3580
    .inputs-list.inline-list
    li
    input {
    float: left;
  }
  .hs-form-2407c9d0-8ae3-465a-bd3e-e24b111401a5_a063e641-2cdc-428d-be01-ea5dd23f3580
    .inputs-list.inline-list.inline-list-2
    li {
    width: 50%;
  }
  .hs-form-2407c9d0-8ae3-465a-bd3e-e24b111401a5_a063e641-2cdc-428d-be01-ea5dd23f3580
    .inputs-list.inline-list.inline-list-2
    li:nth-child(2n) {
    padding-right: 0;
  }
  .hs-form-2407c9d0-8ae3-465a-bd3e-e24b111401a5_a063e641-2cdc-428d-be01-ea5dd23f3580
    .inputs-list.inline-list.inline-list-3
    li {
    width: 33%;
  }
  .hs-form-2407c9d0-8ae3-465a-bd3e-e24b111401a5_a063e641-2cdc-428d-be01-ea5dd23f3580
    .inputs-list.inline-list.inline-list-3
    li:nth-child(3n) {
    width: 34%;
    padding-right: 0;
  }
  .hs-fieldtype-intl-phone.hs-input {
    padding: 0;
    background: none;
    border: none;
    height: auto;
  }
  .hs-fieldtype-intl-phone.hs-input:after {
    clear: both;
    content: " ";
    display: table;
  }
  .hs-fieldtype-intl-phone.hs-input .hs-input {
    margin-bottom: 0;
  }
  .hs-fieldtype-intl-phone.hs-input input {
    width: 68% !important;
    float: right;
  }
  .hs-fieldtype-intl-phone.hs-input select {
    float: left;
    width: 30% !important;
  }
  @media (max-device-width: 480px) and (min-device-width: 320px),
    (max-width: 400px) {
    .hs-form-2407c9d0-8ae3-465a-bd3e-e24b111401a5_a063e641-2cdc-428d-be01-ea5dd23f3580
      > .hs-phone
      > .input
      > .hs-fieldtype-intl-phone.hs-input
      > input.hs-input {
      width: 68% !important;
    }
    .hs-form-2407c9d0-8ae3-465a-bd3e-e24b111401a5_a063e641-2cdc-428d-be01-ea5dd23f3580
      > .hs-phone
      > .input
      > .hs-fieldtype-intl-phone.hs-input
      > select.hs-input {
      width: 30% !important;
    }
  }
  .hs-fieldtype-textarea.hs-input {
    resize: vertical;
  }
  .hs-form-2407c9d0-8ae3-465a-bd3e-e24b111401a5_a063e641-2cdc-428d-be01-ea5dd23f3580
    .hs-button {
    white-space: pre-wrap;
  }
  .hs-form-2407c9d0-8ae3-465a-bd3e-e24b111401a5_a063e641-2cdc-428d-be01-ea5dd23f3580
    .hs-richtext {
    word-break: break-word;
  }
  .hs-form-2407c9d0-8ae3-465a-bd3e-e24b111401a5_a063e641-2cdc-428d-be01-ea5dd23f3580
    fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    max-width: 500px;
  }
  .hs-form-2407c9d0-8ae3-465a-bd3e-e24b111401a5_a063e641-2cdc-428d-be01-ea5dd23f3580
    fieldset.form-columns-1
    .hs-input {
    width: 95%;
  }
  .hs-form-2407c9d0-8ae3-465a-bd3e-e24b111401a5_a063e641-2cdc-428d-be01-ea5dd23f3580
    fieldset.form-columns-1
    .input {
    margin-right: 8px;
  }
  .hs-form-2407c9d0-8ae3-465a-bd3e-e24b111401a5_a063e641-2cdc-428d-be01-ea5dd23f3580
    fieldset.form-columns-1
    input[type="checkbox"],
  .hs-form-2407c9d0-8ae3-465a-bd3e-e24b111401a5_a063e641-2cdc-428d-be01-ea5dd23f3580
    fieldset.form-columns-1
    input[type="radio"] {
    width: auto;
  }
  .hs-form-2407c9d0-8ae3-465a-bd3e-e24b111401a5_a063e641-2cdc-428d-be01-ea5dd23f3580
    fieldset.form-columns-2
    .hs-form-field {
    width: 50%;
    float: left;
  }
  .hs-form-2407c9d0-8ae3-465a-bd3e-e24b111401a5_a063e641-2cdc-428d-be01-ea5dd23f3580
    fieldset.form-columns-2
    .input {
    margin-right: 8px;
  }
  .hs-form-2407c9d0-8ae3-465a-bd3e-e24b111401a5_a063e641-2cdc-428d-be01-ea5dd23f3580
    fieldset.form-columns-3
    .hs-form-field {
    width: 32.7%;
    float: left;
  }
  .hs-form-2407c9d0-8ae3-465a-bd3e-e24b111401a5_a063e641-2cdc-428d-be01-ea5dd23f3580
    fieldset.form-columns-3
    .input {
    margin-right: 8px;
  }
  .hs-form-2407c9d0-8ae3-465a-bd3e-e24b111401a5_a063e641-2cdc-428d-be01-ea5dd23f3580
    label.hs-hidden {
    visibility: hidden;
  }
  .hs-form-2407c9d0-8ae3-465a-bd3e-e24b111401a5_a063e641-2cdc-428d-be01-ea5dd23f3580
    .hs-field-desc {
    width: 100%;
  }
  .hs-custom-style .hs-input,
  .hs-custom-style fieldset {
    max-width: 100%;
  }
  .hs-custom-style > div.form-columns-3 .hs-form-field,
  .hs-custom-style fieldset.form-columns-3 .hs-form-field {
    width: 33.3%;
  }
  .hs-custom-style
    > div
    > div:last-of-type
    .hs-input:not([type="checkbox"]):not([type="radio"]),
  .hs-custom-style
    fieldset
    > div:last-of-type
    .hs-input:not([type="checkbox"]):not([type="radio"]) {
    width: 100%;
    max-width: 100%;
  }
  .hs-custom-style
    > div
    input:not([type="image"]):not([type="submit"]):not([type="button"]):not(
      [type="radio"]
    ):not([type="checkbox"]):not([type="file"]),
  .hs-custom-style
    fieldset
    input:not([type="image"]):not([type="submit"]):not([type="button"]):not(
      [type="radio"]
    ):not([type="checkbox"]):not([type="file"]) {
    box-sizing: border-box;
    padding: 0 15px;
    min-height: 27px;
  }
  .hs-custom-style > div textarea,
  .hs-custom-style fieldset textarea {
    padding: 10px 15px;
  }
  .hs-custom-style
    .hs-dependent-field
    > div
    .hs-input:not([type="checkbox"]):not([type="radio"]) {
    width: 100%;
  }
  @media (max-width: 400px),
    (min-device-width: 320px) and (max-device-width: 480px) {
    .hs-custom-style .hs-input:not([type="checkbox"]):not([type="radio"]),
    .hs-custom-style fieldset {
      margin-right: 0 !important;
      width: 100% !important;
    }
    form.hs-form-2407c9d0-8ae3-465a-bd3e-e24b111401a5_a063e641-2cdc-428d-be01-ea5dd23f3580:not(
        .hs-video-form
      )
      .form-columns-2
      .hs-form-field,
    form.hs-form-2407c9d0-8ae3-465a-bd3e-e24b111401a5_a063e641-2cdc-428d-be01-ea5dd23f3580:not(
        .hs-video-form
      )
      .form-columns-3
      .hs-form-field {
      float: none;
      width: 100%;
    }
    form.hs-form-2407c9d0-8ae3-465a-bd3e-e24b111401a5_a063e641-2cdc-428d-be01-ea5dd23f3580:not(
        .hs-video-form
      )
      .form-columns-2
      .hs-form-field
      .hs-input,
    form.hs-form-2407c9d0-8ae3-465a-bd3e-e24b111401a5_a063e641-2cdc-428d-be01-ea5dd23f3580:not(
        .hs-video-form
      )
      .form-columns-3
      .hs-form-field
      .hs-input {
      width: 95%;
    }
    form.hs-form-2407c9d0-8ae3-465a-bd3e-e24b111401a5_a063e641-2cdc-428d-be01-ea5dd23f3580:not(
        .hs-video-form
      )
      .form-columns-2
      .hs-form-field
      input[type="checkbox"],
    form.hs-form-2407c9d0-8ae3-465a-bd3e-e24b111401a5_a063e641-2cdc-428d-be01-ea5dd23f3580:not(
        .hs-video-form
      )
      .form-columns-2
      .hs-form-field
      input[type="radio"],
    form.hs-form-2407c9d0-8ae3-465a-bd3e-e24b111401a5_a063e641-2cdc-428d-be01-ea5dd23f3580:not(
        .hs-video-form
      )
      .form-columns-3
      .hs-form-field
      input[type="checkbox"],
    form.hs-form-2407c9d0-8ae3-465a-bd3e-e24b111401a5_a063e641-2cdc-428d-be01-ea5dd23f3580:not(
        .hs-video-form
      )
      .form-columns-3
      .hs-form-field
      input[type="radio"] {
      width: auto;
    }
  }
  .legal-consent-container .field.hs-form-field {
    margin-bottom: 8px;
  }
  .legal-consent-container .hs-field-desc.checkbox-desc {
    margin: -12px 0 0 21px;
  }
  .legal-consent-container .hs-form-booleancheckbox-display input {
    float: left;
  }
  .legal-consent-container .hs-form-booleancheckbox-display > span {
    display: block;
    margin-left: 20px;
  }
  .legal-consent-container .hs-form-booleancheckbox-display p {
    margin: 0;
    display: inline;
  }
  .legal-consent-container .hs-error-msgs label {
    color: #f2545b;
  }
  .legal-consent-container ~ .hs_recaptcha {
    margin-top: 18px;
  }
  .cookie-reset-container {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: right;
  }
  #hs-outer-captcha-target,
  #hs-outer-captcha-target * {
    display: none;
    height: 0;
    width: 0;
  }
  .hubspot-link__container {
    font-size: 14px;
    padding-bottom: 40px;
    position: relative;
    color: #9fa0a2;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  }
  .hubspot-link-text {
    color: #00a4bd;
    font-weight: 400;
  }
  .hubspot-link__container.sproket {
    color: #9fa0a2;
  }
  .hubspot-link {
    color: #9fa0a2;
  }
  .hubspot-link,
  .hubspot-link:hover {
    text-decoration: none;
  }
  .hubspot-link:hover .hubspot-link-text {
    text-decoration: underline;
  }
  .hubspot-link__icon {
    margin-bottom: -1px;
    margin-right: 5px;
  }
  .hubspot-link__container.sproket .hubspot-link__icon {
    width: 30px;
    margin-right: 0;
    float: left;
    margin-top: -9px;
    margin-left: -5px;
  }

  #section-home-module-2 {
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: #1e1e1e;
    
  }

  .custom-row-section .custom-row.style-1 {
    grid-template-columns: 1fr !important;
    max-width: 730px;
  }

  .content-wrapper {
    margin-bottom: 1.25em;
  }

  #resume {
    background-color: #1e1e1e;
    margin-bottom: 0 !important;
  }

  .vertical-timeline-element-date {
    color: #fff;
  }

  .vertical-timeline-element-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .experience-badge {
    font-size: 16px;
    padding-right: 8px;
    text-decoration: underline;
    display: inline-block;
  }

  .social-media-icons ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.social-media-icons a {	
	display: inline-block;
	text-decoration: none;
	padding: 7px;
}

// .social-media-icons a:nth-child(1) i {
// 	color: #d34836;
// }

// .social-media-icons a:nth-child(2) i {
// 	color: #4099FF;
// }

// .social-media-icons a:nth-child(3) i {
// 	color: #b31217;
// }

// .social-media-icons a:nth-child(4) i {
// 	color: #FF6600;
// }

.social-media-icons {
  margin-top: 1em;
}

.social-media-icons a i {
  color: white;
}

.link-it {
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
  margin: 0 8px;
  transition: 0.3s ease-out;
}

.link-it:hover {
  background-color: rgba(0,0,0,1);
  transition: 0.3s ease-in;
}

.link-it span {
  font-size: 16px;
  font-weight: 500;
  padding: 0 8px;
  color: white;
}

.list-inline {
  margin-bottom: 0;
}

#section-home-module-2 {
  padding-bottom: 3em;
}

.row-number-5 {
  padding-top: 5em;
}

@media (max-width: 991px) {
  .content-wrapper--vertical-spacing, .dnd-section {
    margin-top: 32px;
  }
}
